<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>kBlog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>{{title}}</h1>
    <h3>One blog to rule them all</h3>
    <button type="button" name="users" class="waves-effect waves-light btn">Users</button>
    <button type="button" name="posts" class="waves-effect waves-light btn">Posts</button>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>

</body>
</html>
